#viewport {
    width:80%;
    height:100%;
    float: left;
    position: fixed;

}

#buttons {
    position: relative;
    /*border-width:5px;
    border-style: solid;*/
    float: right;
    height: 100%;
    width: 20%;
}

.button{
    position:absolute;
    left: 40%;
}

#load {
    top: 100px;
    right: 50px;
}

#browse{
  top: 70px;
  right: 100px;
}

#save {
    top: 200px;
}

#dock {
    top: 300px;
}
