#viewport {
    width:100%;
    height:600px;
    /* margin: auto; */
    padding: 6px 12px;
}

.row{
    /* background-color: rgba(255, 255, 255, 0.404); */
    /* border: 1px rgb(255, 160, 227) solid; */
}

.dockButton{
    width:100%;
}

canvas{
    border: 1px solid white;
}

#hiddenInput{
  visibility: hidden;
}
